// import the grid
@import "../compass-grid-plugin/stylesheets/_grid.scss";

// establishes page width and centers
$column-width: 6.81%;
$gutter-width: 1.52%;
$columns: 12;

#container {
  @include grid-page;
}

// main page sections
[role="main"] {
  @include grid-row(true); //true indicates a row is directly inside a page
}

// recent posts column
.row {
  @include grid-row;
  margin-bottom: $gutter-width;
  border: none;
}

.sidebar h3{
  //@include grid-column(3, -2px); //3 columns wide
  margin-top: 0;
}

// listing of links
.quicklist {
  //@include grid-column(3, -2px); //3 columns wide
  @include grid-column(3, 0); //3 columns wide
  min-width: 125px;
  max-width: 250px;
  border: none;
}

// snippet, like on the front page
.snippet {
  @include grid-column(9, 0); //9 columns wide
  border: none;
}

// full page post column
.fullpage {
  @include grid-column(12, 0); //12 columns wide
  border: none;
}

// header column
.headline {
  @include grid-column(7, 0); //8 columns wide
  border: none;
}

// subheader column
.subheadline {
  @include grid-column(5, 0); //8 columns wide
  border: none;
}

// footer column
.footer {
  @include grid-column(12, 0); //8 columns wide
  border: none;
}

// add a clearfix rule, requires compass
@import "compass/utilities/general/clearfix";
.clearfix { @include pie-clearfix; }
