<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>ryansb &raquo; {{ page.title }}</title>
    <meta name="author" content="Ryan S. Brown" />
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen, projection" />
  </head>
  <body>
    <div class="container" role="main">
      <div class="headline title">
        <h1><a href="/">ryansb</a></h1>
      </div>
      <div class="subheadline info">
        <div class="extra">builds things for computers</div>
        <div class="author">Ryan S. Brown</div>
      </div>
      <div class="row">
        {{ content }}
      </div>
      <div class="row">
        <div class="quicklist links">
          <h3 id="green">general</h3>
          {% for post in site.categories.general %}
          <a href="{{ post.url }}">{{ post.title }}</a>
          {% endfor %}
        </div>
        <div class="quicklist links">
          <h3 id="yellow">projects</h3>
          {% for post in site.categories.projects %}
          <a href="{{ post.url }}">{{ post.title }}</a>
          {% endfor %}
        </div>
        <div class="quicklist links">
          <h3 id="red">seminars</h3>
          <a href="/seminars/vim">vim</a>
          <a href="/seminars/git">git</a>
          <a href="/seminars/python_for_humans">python for humans</a>
          <a href="/seminars/python_for_snakecharmers">python for snakecharmers</a>
        </div>
        <div class="quicklist links">
          <h3 id="blue">contact</h3>
          <a href="mailto:ryansb@csh.rit.edu">email</a>
          <a href="https://github.com/ryansb">github</a>
          <a href="http://gplus.to/ryansb">google+</a>
          <a href="https://www.linkedin.com/in/ryansbrown">linkedin</a>
        </div>
      </div>
      <div class="footer">
        <div class="footer_links">
          <a href="/about.html">about</a>
          <a href="/resources/resume.pdf">resume</a>
          <a href="https://github.com/ryansb/ryansb.com">code</a>
        </div>
      </div>
    </div>
  </body>
</html>
